.preloader 
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  /* z-index: 5; */
}
.preloader:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}
.preloader.complete:before {
  left: -50%;

}
.preloader:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}
.preloader.complete:after {
  right: -50%;
}




.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 25px;
  border: 1px solid teal;

}
.loader:before {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 75px;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  padding: 25px;
  border: 1px solid teal;

}
.loader.complete:after {
  display: none;
}

.segment-holder {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.segment {
  position: absolute;
  background: teal;
}

.one {
  bottom: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
}

.two {
  left: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.25s;
}

.three {
  right: 0;
  height: 100%;
  width: 0;
  animation: slide-two 1s infinite;
  animation-delay: 0.75s;
}

.four {
  top: 0;
  height: 0;
  width: 100%;
  animation: slide-one 1s infinite;
  animation-delay: 0.5s;
}

@keyframes slide-one {
  0%    { height: 0;    opacity: 1; }
  12.5% { height: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { height: 100%; opacity: 0;}
}

@keyframes slide-two {
  0%    { width: 0;    opacity: 1; }
  12.5% { width: 100%; opacity: 1; }
  50%   { opacity: 1; }
  100%  { width: 100%; opacity: 0;}
}

@keyframes rotate-loader {
  0%   { transform: rotate(-45deg); }
  20%  { transform: rotate(-45deg); }
  25%  { transform: rotate(-135deg); }
  45%  { transform: rotate(-135deg); }
  50%  { transform: rotate(-225deg); }
  70%  { transform: rotate(-225deg); }
  75%  { transform: rotate(-315deg); }
  95%  { transform: rotate(-315deg); }
  100% { transform: rotate(-405deg); }
}




div#load_screen {
  background: #000;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 1600px;
  color: white;
}

div#load_screen > div#loading {
  color: #fff;
  width: 120px;
  height: 24px;
  margin: 300px auto;
}