.percent-count {
    width: 500px;
    height: 0;
    margin: 0 auto;
    font-size: 18px;
    text-align: right;
    color: #07f7c3;
}
.progress-bar {
    width: 506px;
    height: 26px;
    background-color: rgb(33, 23, 23);
    border-radius: 13px;
    padding: 3px;
    margin: 25px auto;
}
.progress {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: #07f7c3;
}