
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  .skillcontainer {
	padding: 3rem;
	text-align: center;
  }
  
  @media (max-width: 630px) {
	.skillcontainer {
	  padding: 1rem;
	}
  }
  
  .skill {
	color: #fff;
	position: relative;
	display: inline-flex;
	margin: 2rem;
	transition: all 200ms ease;
  }
  
  .skill:hover {
	transform: scale(1.1);
  }
  
  .skill .skill__img {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	max-width: 100px;
	max-height: 100px;
	background-color: rgb(243, 255, 252);
	transform: rotate(45deg);
	overflow: hidden;
  }
  
  .skill .skill__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 60%;
	transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .skill .skill__content {
	padding: 1.1rem 0 0.5rem 3rem;
  }
  
  .skill .skill__content .skill__name {
	text-align: left;
	padding-bottom: 0.5rem;
	font-size: 1rem;
  }
  
  .skill .skill__content .skill__name #procent {
	float: right;
  }
  
  .skill .skill__content .skill__progress {
	position: relative;
	width: 350px;
	height: 15px;
	border-radius: 3px;
	background-color: #222;
  }
  
  @media (max-width: 630px) {
	.skill {
	  margin: 2rem 0;
	}
	
	.skill .skill__img {
	  height: 60px;
	  width: 60px;
	}
	
	.skill .skill__content {
	padding: 0.5rem 0 0.8rem 1.5rem;
  }
	
	.skill .skill__content .skill__progress {
	  width: 200px;
	}
  }
  
  .skill .skill__content .skill__progress #progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: #333;
	border-radius: 3px;
  }
  
  
  .skill__img {
	border-top: 3px solid #00a960;
	border-right: 3px solid #00916a;
	border-bottom: 3px solid #18b57e;
	border-left: 3px solid #0eee98;
  }
  
.skill__img img {
	width: 100%;
  }
  
/* 100 */
  #ps100 .skill__img img {
	width: 40px;
  }
  
  #ps100 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps100.active #progress {
	width: 100%;
  }

  
/* 95 */
#ps95 .skill__img img {
	width: 40px;
  }
  
  #ps95 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps95.active #progress {
	width: 95%;
  }

/* 90 */
#ps90 .skill__img img {
	width: 40px;
  }
  
  #ps90 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps90.active #progress {
	width: 90%;
  }


/* 85 */
#ps85 .skill__img img {
	width: 40px;
  }
  
  #ps85 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps85.active #progress {
	width: 85%;
  }

  
/* 80 */
#ps80 .skill__img img {
	width: 40px;
  }
  
  #ps80 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps80.active #progress {
	width: 80%;
  }

  /* 75 */
#ps75 .skill__img img {
	width: 40px;
  }
  
  #ps75 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps75.active #progress {
	width: 75%;
  }

  /* 70 */
  #ps70 .skill__img img {
	width: 40px;
  }
  
  #ps70 #progress {
	background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
	transition: all 500ms;
  }
  
  #ps70.active #progress {
	width: 70%;
  }

    /* 60 */
	#ps60 .skill__img img {
		width: 40px;
	  }
	  
	  #ps60 #progress {
		background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
		transition: all 500ms;
	  }
	  
	  #ps60.active #progress {
		width: 70%;
	  }

  /* 50 */
	#ps50 .skill__img img {
		width: 40px;
		}
		
		#ps50 #progress {
		background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
		transition: all 500ms;
		}
		
		#ps50.active #progress {
		width: 50%;
		}

  
     /* 20 */
	#ps20 .skill__img img {
			width: 40px;
			}
			
			#ps20 #progress {
			background: linear-gradient(rgb(0, 255, 229),rgb(4, 160, 92));
			transition: all 500ms;
			}
			
			#ps20.active #progress {
			width: 20%;
			}
	